#emojiContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

a-emoji {
	display: block;
	position: absolute;
    user-select: none;
}

#cursorMate {
	display: block;
	position: absolute;
    user-select: none;	 
}

a-emoji-shadow {
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	opacity: 0.5;
	z-index: -1;
}

a-emoji:hover {
    cursor: default;
}

body {
	overflow-x: hidden;
}