body {
    margin-top: 25px;
    margin-bottom: 50px;
    background: none;
    font-family: 'Open Sans', sans-serif;
}

.full {
    background: url(../imgs/bg-blur.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.emoji-title {
    font-size: 9em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 10;
	user-select: none;
}

.emoji-shadow {
  content:"";
  position:absolute;
  -webkit-box-shadow:0 0 100px 50px rgba(0,0,0,0.8);
  box-shadow:0 0 100px 50px rgba(0,0,0,0.8);
  top: 150px;
  left:10%;
  right:10%;
  width:1%;
  height:1%;
  -moz-border-radius:100%;
  border-radius:100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.7);
}

.radarChart {
  width: 100%;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
    /*margin: 0 auto;*/
    /*border-top: #ccc 1px solid;*/
    /*border-bottom: #777 1px solid;*/
    /*background: url(../imgs/bg-blur-dark.png) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.contentContainer {
    /*text-align: center;*/
    position: absolute;
    /*min-height: 50%;*/
    height: 650px;
    width: 100%;
    margin: 0 auto;
    /*border-top: #ccc 1px solid;*/
    /*border-bottom: #777 1px solid;*/
    background: url(../imgs/bg-blur-dark.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.innerContentContainer {
    /*text-align: center;*/
    /*position: absolute;*/
    /*min-height: 50%;*/
    height: 520px;
    width: 100%;
    margin: 0 auto;
    /*border-top: #ccc 1px solid;*/
    /*border-bottom: #777 1px solid;*/
    background: url(../imgs/bg-blur-dark.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  overflow-y: scroll;
}

.lineGraph {
    width: 100%;
    height: 400px;
    max-width: 1080px;
    padding: 20px;
    margin: 0 auto;
}

.graphContainer {
  /*position:relative;*/
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

.textContainer {
  color:white;
  font-size: 20px;
  padding-top: 20px;
  text-align: center
}

.shadow{
    position:relative;
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

li > a {
  font-size: 20px;
  color: white;
}

li.active > a {
  background: url(../imgs/bg-blur-dark.png) no-repeat center center fixed;
  color: #FFD767 !important;
  font-size: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.picker {
	color: #000;
	width: 200px;
}
